body{
    font-family: 'Montserrat' , sans-serif;
    margin: 0;
    padding: 10px 10%;
    background-size: contain;
    background-attachment: fixed;
    background-color: burlywood;    
    
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    
    
    
}

header img{
    width: 150px;
    position: relative;
    right: 300px;
    border-radius: 15px;
    
}

header a{
    color: green;
    text-decoration: none;
    position: relative;
    right: 100px;
    left: 100px;   
}

header a:hover{
    color: red;
    border: solid 2px;
}

nav a{
    margin-right: 20px;
    margin-left: 20px;
}

section h1{
    text-align: center;
    
}

section p{
    font-size: x-large;
}

table{
    width: 50%;
    text-align: center;
    margin: auto;
    
}

td{
    border: solid 1px black;
}

div{
    font-size: large;
    text-align: center;
    width: 500px; 
    height: 300px;
    
}

td{
    background-color: brown;
    color: aliceblue;
}

div h3{
    color: green;
    text-decoration: underline;

}

hr{
    border: solid 1px brown;

}

#blocco1{
    display: flex;
    justify-content: center;
       
}

#blocco2{
    text-align: center;
}
    

#alimentazione{
    font-size: large;
    background-color: green;
    margin-bottom: 20px;
    padding: 25px;
    border: solid 2px white;
    border-radius: 15px;
    color: white;
    text-align: center;
}

#vita-sociale{
    font-size: large;
    background-color: green;
    margin-bottom: 20px;
    padding: 25px;
    border: solid 2px white;
    border-radius: 15px;
    color: white;
    text-align: center;
}

#vita-da-cuccioli{
    font-size: large;
    background-color: green;
    margin-bottom: 20px;
    padding: 25px;
    border: solid 2px white;
    border-radius: 15px;
    color: white;
    text-align: center;
}

#blocco3{
    text-align: center;
}

#blocco4{
    font-size: large;
    background-color: blanchedalmond;
    margin-bottom: 20px;
    padding: 25px;
    border: solid 2px white;
    border-radius: 15px;
    color: black;
}

#blocco5{
    font-size: large;
    background-color: blanchedalmond;
    margin-bottom: 20px;
    padding: 25px;
    border: solid 2px white;
    border-radius: 15px;
    color: black;
}

#blocco6{
    text-align: center;
    background-color: beige;
    padding: 25px;
    border: solid 2px;
}

#blocco7{
    text-align: center;
    background-color: beige;
    padding: 25px;
    border: solid 2px;
}

#blocco0{
    background-color: goldenrod;
    padding: 25px;
    border: solid 2px;
    border-radius: 15px;
}
   
footer{
    text-align: center;
    
}